@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');


/* Base styles (extra small devices - mobile) */
html 
{
  font-size: 16px;
}
body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  margin:0;
  padding:0;
  font-size: 1rem;
  line-height:1.5;
  
  
  /* background-color: #60b347; */
}
h1
{
  font-size: 2.5rem;
  color:#eee;
  text-align: center;
  margin-top:0;
  
}
#number
{
  font-size: 5rem;
  color:#eee;

  text-align: center;
  padding-bottom:10px;
 
  box-sizing: border-box;
  
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 1rem;
  max-width: 100vw;;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
 

  color: #222;
  font-size: 1rem;
  font-family: inherit;
  display:inline-block;
  padding: 1rem 2rem;
  margin: 1rem;
  cursor: pointer;
  text-align: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.btn:hover {
  background-color: #ccc;
}
.check
{
  display:flex;
 flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.message {
  font-size:2rem;
  text-align: center;
  margin-bottom: 1rem;;
}

.label-score {
  text-align: center;
  margin-bottom: 1rem;;
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size:2rem;
}
.label-highscore
{
  font-size:2rem;
  text-align: center;
  flex-direction: column;
  margin-left:auto;
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}





/* Small devices (tablets) */
@media screen and (min-width: 576px) 
{

  @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

/* LAYOUT */

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: relative;
  width: 100%;

  
}

#number {

  color: #eee;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;;
  bottom: 0;
 
  padding-left:50%;
  align-items: center;
  justify-content: center;
}





.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
}

.btn {

  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 2rem;
  height: 3rem;
  font-size:3rem;
}

.label-score,.label-highscore {
  display: flex;
  flex-direction: row;
  font-size:3rem;
  margin-bottom: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;

}

}

@media screen and (min-width: 768px) 
{
  h1 
  {
    font-size: 6rem;
    color:#eee;
    text-align: center;
    margin-top:0; 
  }
  #number
  {
    font-size: 8rem;
    color:#eee;
    text-align: center;
    padding-bottom:10px;
    box-sizing: border-box;
    justify-content: center;
    align-items : center;
  }
}
